html,body{margin:0;padding:0;background-color:#bae3ea;}

body{font-family: Tahoma, Geneva, sans-serif;text-align:center;}
p{margin:0 10px 10px}
p.small{font-size:smaller}
a{ text-decoration:none; color:#283a10; }
a:hover{ color:#bae3ea ; background-color: #2c3a83;}


div#header{background-color:#bae3ea;padding-left:10px;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px; padding-bottom:20px; }
div#header h6{height:80px;line-height:80px;margin:0;padding-right:10px;float:right;width:200px}
div#container{text-align:left; background-color:#bae3ea;}
div#content p{line-height:1.4}
div#navigation{background-color:#82a6dc;}
div#navigation ul{margin:15px 0; padding:10px; list-style-type:none; background-color:#bae3ea;}
div#navigation li{margin-bottom:5px;}
div#extra{background:#82a6dc;}
div#footer{background:#2c3a83; color: #bae3ea; }
div#footer p{margin:0;padding:5px 10px}
div#container{width:600px;margin:0 auto}
div#content{float:left;width:600px}
div#navigation{float:left;width:400px}
div#extra{float:right;clear:right;width:200px}
div#footer{clear:both;width:100%;font-size:12px;}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.bblanc {background-color:rgba(255, 255, 255, 0.7); }
.clair	{#bae3ea;}
.pale	{#bae3ea;}
.moyen	{#82a6dc;}
.foncer	{#2c3a83;}
.noiratre {#283a10;}

.square {
position: absolute;
display:inline-block;
max-width:300px;
min-height:1.5em;
padding: 10px;
background: rgba(255, 200, 200, 0.8) ;
border: solid 1px;
}

.mid {
  vertical-align: bottom;
}

